<div id="menu">
  <div class="menu-comps">
    <a href="/">
      <i class="globe icon"></i>
      <span>Johnson, Williams, and Brown</span>
      <span id="line-2-logo">Certified Public Accountants</span>
    </a>
  </div>
  <div class="menu-comps">
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/services">Services</a>
      <a href="/careers">Careers</a>
      <a href="/contact">Contact Us</a>
    </div>
  </div>
</div>
