<!DOCTYPE html>
<html>

<head>
  <title>Johnson, Williams, and Brown CPAs</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  {{>_menu}}
  {{{body}}}
  {{>_footer}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
</body>

</html>
