<div class="banner" id="about-banner">
  <img class="ui large image banner-photo"
    src="https://images.pexels.com/photos/374820/pexels-photo-374820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
</div>

<div class="ui container center" id="about-summary">
  <h1 class="big-font">About Us</h1>
  <p class="medium-font">Since the Stone Age, JWB has been doing tax returns
    for cavemen and their
    families. Try beating that for
    experience!
  </p>
</div>

<div class="ui container">
  <hr>
</div>

<div class="ui container" id="approach">
  <div class="ui two column grid center">
    <div class="column">
      <i class="desktop icon about-icon"></i>
      <p class="medium-font">We are technologically advanced. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Animi laudantium,
        quasi, quaerat veniam debitis in reiciendis, quia ut facere nam alias? Exercitationem assumenda ratione eum est
        officiis, animi et nam?</p>
    </div>
    <div class="column">
      <i class="users icon about-icon"></i>
      <p class="medium-font">
        Unlike most CPAs, we actually like people. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero
        eveniet, voluptatem repudiandae soluta sint iste aperiam assumenda asperiores! Earum tempore assumenda nisi
        exercitationem hic esse, expedita voluptatum? Totam, rerum.
      </p>
    </div>
  </div>
</div>
