<h1 id="slogan">Making You Better!</h1>
<div class="banner">
  <img class="ui large image banner-photo"
    src="https://images.pexels.com/photos/891059/pexels-photo-891059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
</div>

<div class="ui container white-background snapshot">
  <div class="ui stackable three column grid">
    <div class="column snapshot-content">
      <i class="circular edit icon snapshot-icon"></i>
      <h3>Tax and Accounting Services</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis nisi ipsam veniam officiis sunt
        perspiciatis distinctio, quis similique nesciunt nemo nihil illum molestias ratione a odio labore maiores
        cumque.</p>
    </div>
    <div class="column snapshot-content">
      <i class="circular users icon snapshot-icon"></i>
      <h3>About Our Firm</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis nisi ipsam veniam officiis sunt
        perspiciatis distinctio, quis similique nesciunt nemo nihil illum molestias ratione a odio labore maiores
        cumque.</p>
    </div>

    <div class="column snapshot-content">
      <i class="circular briefcase icon snapshot-icon"></i>
      <h3>Career Opportunities</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis nisi ipsam veniam officiis sunt
        perspiciatis distinctio, quis similique nesciunt nemo nihil illum molestias ratione a odio labore maiores
        cumque.</p>
    </div>
  </div>
</div>

<div class="ui container snapshot">
  <div class="ui stackable two column grid">
    <div class="column">
      <h2><em>Excellence & Professionalism</em></h2>
      <p class="home-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quam ipsa rerum quia
        sequi. Culpa repellat
        laboriosam quo, vero quisquam aliquam quod nulla aperiam maxime, provident, totam placeat! Modi, placeat?</p>
    </div>
    <div class="column">
      <img class="ui image"
        src="https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
  </div>
</div>

<div class="ui container snapshot">
  <div class="ui stackable two column grid">
    <div class="column">
      <img class="ui image"
        src="https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
    <div class="column">
      <p class="home-text">We know your taxes are a significant source of stress for you. Let our experts set you at
        ease, so you can focus on what is most important.</p>
    </div>
  </div>
</div>

<div id="awards">
  <div class="ui container">
    <p>We won a bunch of awards! You should hire us!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam consectetur earum dolore porro architecto,
      mollitia assumenda officia commodi facere iusto esse saepe quibusdam doloribus ex provident fugit! Hic, esse?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi animi repudiandae ullam, minus distinctio eius
      optio aspernatur adipisci voluptatibus magni quia nihil, voluptatum voluptas impedit unde ad dolor commodi
      reprehenderit?</p>
  </div>
</div>

<div class="ui container snapshot contact-home">
  <div class="ui stackable two column grid">
    <div class="column">
      <h2>Johnson, Williams, and Brown</h2>
      <p>123 Main Street, Suite 100</p>
      <p>Los Angeles, CA 92010</p>
    </div>
    <div class="column">
      <h3>Call us at:</h3>
      <p>301-555-5555</p>
      <h3>Business Hours:</h3>
      <p>8:00am - 5:00pm</p>
    </div>
  </div>
</div>
