<h1 id="slogan">Making You Better!</h1>
<div id="banner">
  <img class="ui large image"
    src="https://images.pexels.com/photos/891059/pexels-photo-891059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    id="banner-photo" />
</div>

<div class="ui container white-background" id="snapshot">
  <div class="ui stackable three column grid">
    <div class="column snapshot-content">
      <i class="circular edit icon snapshot-icon"></i>
      <h3>Tax and Accounting Services</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis nisi ipsam veniam officiis sunt
        perspiciatis distinctio, quis similique nesciunt nemo nihil illum molestias ratione a odio labore maiores
        cumque.</p>
    </div>
    <div class="column snapshot-content">
      <i class="circular users icon snapshot-icon"></i>
      <h3>About Our Firm</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis nisi ipsam veniam officiis sunt
        perspiciatis distinctio, quis similique nesciunt nemo nihil illum molestias ratione a odio labore maiores
        cumque.</p>
    </div>

    <div class="column snapshot-content">
      <i class="circular briefcase icon snapshot-icon"></i>
      <h3>Career Opportunities</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo debitis nisi ipsam veniam officiis sunt
        perspiciatis distinctio, quis similique nesciunt nemo nihil illum molestias ratione a odio labore maiores
        cumque.</p>
    </div>
  </div>
</div>
