html {
  height: 100%;
}

body {
  height: auto;
  background-color: rgb(245, 245, 245);
}

/*
  Menu
*/

#menu {
  background-color: #a14138;
  display: flex;
  justify-content: space-between;
  font-size: 1.35em;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

#menu a {
  color: rgb(190, 190, 190);
}

.menu-comps {
  padding: 15px;
}

.navigation a {
  margin-right: 20px;
}

#line-2-logo {
  display: block;
}

/*
  Home page
*/

#slogan {
  text-align: center;
  position: absolute;
  z-index: 100;
  color: white;
  width: 100%;
  top: 150px;
}

.snapshot {
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.snapshot-content {
  text-align: center;
}

.snapshot-content p {
  font-size: 1.3em;
}

i.snapshot-icon {
  font-size: 4em;
  padding: 15px;
  background-color: #a14138;
  color: white;
}

.home-text {
  font-size: 2em;
}

#awards {
  background-color: #3266ba;
  margin: 18px 0;
  text-align: center;
  padding: 20px 0;
}

#awards p {
  color: white;
  font-size: 1.5em;
}

.contact-home {
  font-size: 1.5em;
}

/*
  About page
*/

#about-summary {
  margin: 50px 0 150px 0;
}

i.about-icon {
  font-size: 4em;
  color: #a14138;
}

#approach {
  margin-top: 150px;
}

/*
  Footer
*/

footer {
  background-color: black;
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 2000;
  margin-top: 30px;
}

footer a {
  color: white;
  margin-left: 20px;
  padding: 15px;
}

/*
multi-use classes
*/

.banner {
  width: 100%;
  height: 40%;
}

#home-banner img.banner-photo,
#about-banner img.banner-photo {
  width: 100%;
  height: 450px;
}

.white-background {
  background-color: white;
}

.white-text {
  color: white;
}

.center {
  text-align: center;
}

.big-font {
  font-size: 3em;
}

.medium-font {
  font-size: 2em;
}
